* {
  box-sizing: border-box;
}

body {
  font: 16px sans-serif;
  color: #333;
  line-height: 1.5;
  background-color: #fef89a;
}

/* Colors */
nav {
  background: #333;
  color: #fdfdfd;
}

/* Typography */
a {
  color: #333;
}

nav a {
  text-decoration: none;
  color: #fdfdfd;
}

.quote {
  font-size: 2.25rem;
}

/* Layout */
.name-card p {
  color: #909090;
}

.intro-text {
  padding-bottom: 40px;
}

nav {
  width: 100%;
  padding: 20px 0;
}

nav span {
  float: right;
}

nav a {
  margin-left: 20px;
}

nav span a {
  margin-right: 20px;
}

.card {
  padding: 40px;
  max-width: 840px;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 5px 5px #909090;
  border-radius: 10px;
}

.quote-card {
  margin: 20px auto;
  background: transparent;
  box-shadow: none;
}

.introduction,
.project,
.contact-form {
  background-color: #fef89a;
  width: 100%;
  transform: skewY(5deg);
  padding-bottom: 40px;
  padding-top: 20px;
}

.introduction {
  padding-top: 0;
}

.project {
  background-color: #a9ebef;
  transform: skewY(-5deg);
}

.project-card {
  transform: skewY(5deg);
  margin-bottom: 40px;
}

.contact-form {
  background-color: #f5b4fe;
}

.intro-card, 
.contact-form-card,
.stand-alone {
  margin: 40px auto;
  transform: skewY(-5deg);
}

.profile {
  float: right;
  width: 150px;
  margin-right: 20px;
  border-radius: 50%;
  margin-top: -120px;
}

.single-project-card {
  width: 48%;
  float: left;
  margin-right: 10px;
  min-height: 460px;
  box-shadow: none;
  border: 1px solid #f0f0f0;
  padding: 0;
  position: relative;
}

.project-description {
  padding: 40px;
  position: absolute;
  bottom: 0;
  background: #fff;
}

.single-project-card.last {
  margin-right: 0;
  width: 50%;
}

button {
  background-color: #45bee1;
  color: #fff;
  border: none;
  min-height: 40px;
  padding: 15px 40px;
  border-radius: 5px;
  box-shadow: 0 2px 5px #909090;
}

 
.clear {
  clear: both;
}

.contact-form-card {
  margin: 0 auto 40px;
  
}

.input-group {
  margin: 20px 0;
}

.input-group.half {
  width: 49%;
  float: left;
}

.input-group.clear {
  padding-top: 20px;
}

input,
textarea {
  min-height: 40px;
}

input {
  border: none;
  background: #f0f0f0;
  margin-left: 20px;
  padding-left: 20px;
}

textarea {
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: solid 1px #f0f0f0;
}

.stand-alone {
  max-width: 840px;
  margin: 40px auto;
  padding: 40px;
}

.img-niyaleo,
.img-currency {
  height: 200px;
  background-color: #909090;
  background-image: url('../img/niyaleo.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.img-currency {
  background-image: url('../img/currency.png');
  background-size: contain;
}